









    <mat-grid-list cols="1" rowHeight="500" style="width: 1000px">


        <div fxLayoutAlign="start">
            {{formGroup.value | json}}
                 </div>

    
        <mat-grid-tile > 
                <form [formGroup]="formGroup" >
                    
            <div fxLayout="column" style="margin-top: 10%">
             




            <div fxLayout="row" fxLayoutGap="10%"  style="margin-left: -5%">
                <div >
                    <mat-form-field appearance="outline" class="form-group">
                           
                            <input formControlName="name" matInput placeholder="name*" class="form-control" >
                           
                            
                
                        </mat-form-field>
                        <br>

                        <mat-form-field appearance="outline"  class="form-group">
                                <input  formControlName="Description" matInput placeholder="description*" class="form-control"  >
                              
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline"  class="form-group">
                                    <input  formControlName="Email" matInput placeholder="email*" class="form-control" >
                                    
                                </mat-form-field>
                                <br>
                                <mat-form-field appearance="outline"  class="form-group">
                                        <input formControlName="Phone" matInput placeholder="phone*" class="form-control" >

                                    </mat-form-field>
                    </div>

                    <div>



                        <mat-form-field appearance="outline"  class="form-group">
                                <input formControlName="Province" matInput placeholder="Province*" class="form-control" >  
                               
                            </mat-form-field> 
<br>
                            <mat-form-field appearance="outline">
                                    <input formControlName="District" matInput placeholder="district*" class="form-control" >  
                                   
                                </mat-form-field> 
                                <br>
                                <mat-form-field appearance="outline"  class="form-group">
                                        <input formControlName="Sector" matInput placeholder="sector*" class="form-control" > 
                                      
                                    </mat-form-field> 
                        <mat-form-field appearance="outline"  class="form-group">
                             
                    <input formControlName="Website" matInput placeholder="Website*" class="form-control" >  
                    
                           
                    </mat-form-field>
                       
                    </div>
                    <div>


                    
                          
                        <mat-form-field appearance="outline"  class="form-group">
                                <input formControlName="key_person" matInput placeholder="key_person*" class="form-control" >
                                
                            </mat-form-field> 
                            <br>
                            <mat-form-field appearance="outline">
                                    <input formControlName="more_Info" matInput placeholder="more_info* " class="form-control" >  
                                    
                                </mat-form-field> 
                                <br>
                                       <div class="form-group">
                                            <input formControlName="log" type="file" (change)="onFileSelected($event)"  placeholder="upload file*"  class="form-control">
                                       </div>
                                      
                                    
                              
                                <br>
                                
                                <mat-form-field appearance="outline"  class="form-group">
                                        <input formControlName="created_at" matInput [matDatepicker]="picker" placeholder="  created_at*" class="form-control">
                                       
                                       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                       <mat-datepicker #picker></mat-datepicker>
                                   </mat-form-field>
           
                                 <br>
                                 <mat-form-field appearance="outline"  class="form-group">
                                        <mat-label>ownershipstatus</mat-label>
                                        <mat-select formControlName="option"   class="form-control" >
                                                 
                                                <mat-option value="Public">Public</mat-option >
                                                <mat-option value="Private">Private</mat-option >
                                             
                                        </mat-select>
                                      </mat-form-field>
                                      
                                      
                                       
                                  


                    </div>

        </div>

        <div fxLayoutAlign="center">
        <button   mat-raised-button color="primary" style="width: 200px;font-size: 20px"  [disabled]="formGroup.invalid" (click)="saveProduct(formGroup.value)">Save</button>
            
                 </div>
               
                
            </div>
            <br>
            
               

           
           
           
   
        </form>
      

        </mat-grid-tile>
    
      </mat-grid-list>

