

<div style="width: 120%">
    <mat-toolbar  style="    background-color: #498aa4;opacity: 1;justify-content: space-evenly ; " >
     
  
   



        <div   fxShow="true" fxHide.lt-md="true" id="menu"   fxLayout.lt-md="column">
            <ul >
              <li> <a routerLink="" mat-button>Home</a></li>  
              <li> <a href="#" mat-button>Schools</a>
               <ul>
                 <li><a  routerLink="/allschools">All Schools</a></li>
                 <li><a routerLink="/universities">Universities</a></li>
                 <li><a routerLink="/secondary">Secondaries</a></li>
               </ul>
             
             </li>  
              
                
               <li><a  routerLink="/register"mat-button>Register</a></li>
              <li><a routerLink="/login" mat-button>Login</a></li>  
              <li> <a  routerLink="/about"mat-button>About</a></li>  
              <li>  <a  routerLink="/contact" mat-button>Contact</a></li>  
         </ul>
           
   
           
         </div>
  
    
        
      </mat-toolbar>
    
     
        
  
</div>
    








  