

<div fxLayout="column" fxLayout.xs="column"><!--div contain all div-->
  <div fxLayoutAlign="start"   fxLayoutAlign.xs="center"  ><!--div contain input filter&search-->

    <div ><!--div contain search-->
      <button (click)="onCreate()" mat-raised-button  id="buttoncreate"><i class="fa fa-plus" color="primary" style="font-size: 15px" ></i>Create</button>
    </div><!--end of div contain search-->

    <div><!--div contain filter-->
      <mat-form-field>
         
          <input (keyup)="applyFilter($event.target.value)"  matInput id="search"   >
      </mat-form-field>
    </div><!--end of div of filter-->


  </div><!-- end of div contain input filter-->


  
  <div fxLayoutAlign="center" fxLayoutAlign.xs="center"><!--div contain table-->
   
    <table mat-table [dataSource]="dataSource.results" matSort class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
            
            <ng-container matColumnDef="name" >
              <th mat-sort-header   mat-header-cell *matHeaderCellDef> name</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          
            </ng-container>
            
            <ng-container matColumnDef="email" >
              <th mat-sort-header   mat-header-cell *matHeaderCellDef> email</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          
            </ng-container>
            <ng-container matColumnDef="phone" >
              <th mat-sort-header   mat-header-cell *matHeaderCellDef> phone</th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          
            </ng-container>
            <ng-container matColumnDef="website" >
              <th mat-sort-header   mat-header-cell *matHeaderCellDef> website</th>
                  <td mat-cell *matCellDef="let element"> {{element.website}} </td>
          
            </ng-container>
            <ng-container matColumnDef="province" >
              <th mat-sort-header   mat-header-cell *matHeaderCellDef> province</th> 
                  <td mat-cell *matCellDef="let element"> {{element.province}}  <i class="fa fa-edit" style="color: blue;font-size:20px" (click)="onEdit()" id="edit"></i><i  (click)="deleteUser(element.id)"  class="fa fa-trash"  id="trash"  ></i> </td>
          
            </ng-container>
      <!-- Name Column -->
      
      
    
     
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row  (click)="logData(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div><!-- end div contain table-->

  <div fxLayoutAlign="center" fxLayoutAlign.xs="center" style="margin-top: 3%"><!--div contain pagination-->
    <mat-paginator [pageSizeOptions]="[2,10,20]" showFirstLastButtons></mat-paginator>

  </div><!--end of div contain pagination-->
</div> <!-- end of div contain all div-->


